In [14]:
import sqlite3
import seaborn
import pandas as pd

In [13]:
conn = sqlite3.connect("../data_aggregation/options_database.db")
cursor = conn.cursor()

query = """
select 
    distinct *
from contract_data
    where
        symbol ='SPY'
        and obs_date between '2020-01-01' and '2023-06-21'
        ;
"""
cursor.execute(query);

data = cursor.fetchall()

In [18]:
df = pd.DataFrame(data, columns=['symbol', 'contract_type', 'strike', 'bid', 'midpoint', 'ask', 'last', 'volume', 'open_int', 'obs_date', 'exp_date'])
df.head()

,symbol,contract_type,strike,bid,midpoint,ask,last,volume,open_int,obs_date,exp_date
0,SPY,call,270.0,52.89,53.01,53.13,0.00,0,0.0,2020-01-03,2020-01-27
1,SPY,call,275.0,47.91,48.03,48.15,48.92,2,0.0,2020-01-03,2020-01-27
2,SPY,call,280.0,42.95,43.07,43.19,0.00,0,0.0,2020-01-03,2020-01-27
3,SPY,call,285.0,38.01,38.12,38.23,0.00,0,0.0,2020-01-03,2020-01-27
4,SPY,call,290.0,33.08,33.19,33.30,0.00,0,0.0,2020-01-03,2020-01-27

In [41]:
df[df.obs_date == '2022-01-07'].exp_date.value_counts()

2022-02-04    292
2022-02-11    234
2022-02-07    206
2022-01-31    168
2022-02-02    160
2022-02-09    108
Name: exp_date, dtype: int64

In [63]:
df.groupby('obs_date').agg({'volume': sum}).sort_values(by='volume', ascending=False).head()

             volume
obs_date
2022-09-23  1848986
2020-03-20  1400029
2022-09-28  1124658
2022-01-21  1059573
2022-05-20  1041804

In [49]:
df.obs_date.value_counts()

2022-05-20    1736
2022-05-27    1734
2021-11-12    1696
2021-05-28    1694
2021-12-03    1636
              ...
2023-05-03     414
2023-06-14     406
2023-06-09     396
2023-01-06     384
2023-03-15     228
Name: obs_date, Length: 225, dtype: int64

In [64]:
ddf = df[df.obs_date == '2022-09-23'].copy()

In [65]:
ddf

,symbol,contract_type,strike,bid,midpoint,ask,last,volume,open_int,obs_date,exp_date
217790,SPY,call,285.0,82.98,83.44,83.90,0.00,0,0.0,2022-09-23,2022-10-17
217791,SPY,call,290.0,78.15,78.46,78.78,0.00,0,0.0,2022-09-23,2022-10-17
217792,SPY,call,295.0,73.21,73.52,73.84,0.00,0,0.0,2022-09-23,2022-10-17
217793,SPY,call,300.0,68.28,68.60,68.92,0.00,0,0.0,2022-09-23,2022-10-17
217794,SPY,call,305.0,63.37,63.70,64.03,0.00,0,0.0,2022-09-23,2022-10-17
...,...,...,...,...,...,...,...,...,...,...,...
219151,SPY,put,480.0,111.81,112.27,112.73,112.43,1,0.0,2022-09-23,2022-10-28
219152,SPY,put,485.0,116.80,117.26,117.72,0.00,0,0.0,2022-09-23,2022-10-28
219153,SPY,put,490.0,121.81,122.27,122.73,0.00,0,0.0,2022-09-23,2022-10-28
219154,SPY,put,500.0,131.80,132.26,132.72,0.00,0,0.0,2022-09-23,2022-10-28
219155,SPY,put,510.0,141.81,142.27,142.73,0.00,0,0.0,2022-09-23,2022-10-28